config.py
Group28_SichertDadicEngl.pdf
Group28_SichertDadicEngl.toc
Group28_SichertDadicEngl.synctex.gz
Group28_SichertDadicEngl.log
Group28_SichertDadicEngl.aux
Group28_SichertDadicEngl.out
Group28_SichertDadicEngl.fls
Group28_SichertDadicEngl.fdb_latexmk
Group28_SichertDadicEngl_2.pdf
Group28_SichertDadicEngl_2.toc
Group28_SichertDadicEngl_2.synctex.gz
Group28_SichertDadicEngl_2.log
Group28_SichertDadicEngl_2.aux
Group28_SichertDadicEngl_2.out
Group28_SichertDadicEngl_2.fls
Group28_SichertDadicEngl_2.fdb_latexmk
Group28_SichertDadicEngl_2.dvi
main.pdf
main.toc
main.synctex.gz
main.log
main.aux
main.out
main.fls
main.fdb_latexmk
Exercise_2/concrete/test_rf_llm.py
Exercise_2/concrete/__pycache__/
Exercise_2/superconductivity/__pycache__/
Exercise_3/concrete/__pycache__/
Exercise_3/superconductivity/__pycache__/
Exercise_3/waves/__pycache__/
Exercise_3/wine/__pycache__/
Exercise_3/utils/wine/__pycache__/
Exercise_3/utils/concrete/__pycache__/
Exercise_3/utils/superconductivity/__pycache__/
Exercise_3/utils/waves/__pycache__/
Exercise_3/concrete/comp_pycaret.py
Exercise_3/wine/results/results_20250223_051937.csv
Exercise_3/concrete/results/results_20250222_215712.csv
Exercise_3/superconductivity/results/results_20250223_010322.csv
Exercise_3/waves/results/results_P_100_20250223_031501.csv
Exercise_3/superconductivity/results/results_20250222_123934.csv
Exercise_3/waves/results/results_P_100_20250222_134047.csv
Exercise_3/concrete/results/results_20250225_152924.csv
```
