config.py
Group28_SichertDadicEngl.pdf
Group28_SichertDadicEngl.toc
Group28_SichertDadicEngl.synctex.gz
Group28_SichertDadicEngl.log
Group28_SichertDadicEngl.aux
Group28_SichertDadicEngl.out
Group28_SichertDadicEngl.fls
Group28_SichertDadicEngl.fdb_latexmk
Group28_SichertDadicEngl_2.pdf
Group28_SichertDadicEngl_2.toc
Group28_SichertDadicEngl_2.synctex.gz
Group28_SichertDadicEngl_2.log
Group28_SichertDadicEngl_2.aux
Group28_SichertDadicEngl_2.out
Group28_SichertDadicEngl_2.fls
Group28_SichertDadicEngl_2.fdb_latexmk
Group28_SichertDadicEngl_2.dvi
main.pdf
main.toc
main.synctex.gz
main.log
main.aux
main.out
main.fls
main.fdb_latexmk